#contain{
	margin-top:20px;
}
#left{
	float:left;
	width:300px;
}
#main{
	margin-left:30px;
	padding:30px;
	width:400px; height:600px;
	float:left;
}
/* ------------------article style--------------------- */
article{
	padding:30px;
	background-color:#4f4f4f;
	color:white;
}
article ol{
	font-style:italic;
}
/* ------------------form style--------------------- */
.form {/* define 表单框样式 */
	height:30px;
	margin:30px auto;
}
.form input[type=text]{/* define 表单对象样式 */
	width:100%;
	height:100%;
	padding:0px;
	background:rgba(255,255,255,0.2);
	box-shadow:inset 0 0 10px rgba(255,255,255,0.5);
	/* font style */
	text-indent:10px;
	color:hsla(0,0%,100%,0.9);
	font:normal 18px/100% Verdana, Tahoma, sans-serif;
}
.form input[type=text]:hover,
.form input[type=text]:focus{
	background:rgba(255,255,255,0.4);
	outline:none;
	border-radius:5px;
	box-shadow:0 0 5px red;
}
