/**
 *
 *  file: index.css
 *  June 6,2021
 *  writen by Mr.Cheng
 *
 */

:root {
    --white: #f1f1f1;
    /*整个页面背景色*/
    --black: #333;
    /*导航背景色*/
    --navWhite: #6ccfe5;
    /*导航hover背景色*/
}

.header {
    display: flex;
    padding: 30px;
    text-align: center;
    background-color: white;
    animation-name: header_background 1s;
}

.left_image_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: var(--black);
    border-top-left-radius: 10%;
}

.left_image {
    width: 300px;
    height: 200px;
    background: url("../image/Statue\ of\ liberty_Outline.svg") no-repeat;
    background-size: cover;
    background-position: left top;
}

.title_writer {
    width: 50%;
}

.topnav {
    display: flex;
    /*center 值将 flex 项目在容器的中心对齐*/
    justify-content: center;
    background-color: var(--black);
    position: sticky;
    top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    animation-name: TopNav;
    animation-duration: 1s;
    z-index: 3;
}

.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    transition: transform 1s;
    transition-timing-function: ease;
}

.topnav a:hover {
    background-color: var(--navWhite);
    color: black;
    transform: scale(1.2, 1.2);
}

.row {
    margin-top: 10px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.leftcolumn {
    padding: 20px;
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 30px;
}

.card {
    min-height: 300px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.card_image {
    position: relative;
    top: 30px;
    left: 500px;
    opacity: 0.8;
    width: 406px;
    height: 306px;
    background-image: url(../image/Designer\ _Flatline.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.AboutMeImage {
    width: 300px;
    height: 200px;
    background: url("../image/Watermelon_Monochromatic.svg") no-repeat;
    background-size: contain;
}

.picture {
    height: 400px;
    padding: 50px;
    background-image: url(../image/Data\ Arranging_Flatline.svg);
    background-repeat: no-repeat;
}

.footer {
    padding: 20px;
    text-align: center;
    color: var(--white);
    background-color: var(--bs-cyan);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 800px) {
    .left_image_container {
        width: 40%;
    }
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
        padding-bottom: 5px;
    }
    .card_image {
        position: inherit;
    }
}

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
    }
    .left_image_container {
        width: 100%;
        border-top-right-radius: 10%;
    }
    .title_writer {
        width: 100%;
    }
    .title_writer h1 {
        font-size: 30px;
    }
    .title_writer h2 {
        font-size: medium;
    }
    .topnav {
        flex-direction: column;
        position: static;
    }
    .topnav a {
        padding-left: 0px;
        padding-right: 0px;
        border-bottom: 1px solid white;
    }
    .topnav a:hover {
        animation: flash 4s infinite;
        transform: none;
    }
    .card_image {
        position: relative;
        left: -45px;
        width: 400px;
        height: 300px;
    }
    .rightcolumn {
        margin-top: 20px;
    }
}