#main{
	height:300px;
	margin-top:10px;
	background-color:#4f4f4f;
}
#main a{
	text-decoration:none;
	color:white;
}
#main p{
	text-align:center;
}
.each_language{
	float:left;
	width:200px;
	height:100%;
	border-right:3px solid orange;
}
