#left{
	float:left;
    width:19%;
}

/* Web中部的样式 */
#main{
    border-left:2px solid;
    border-right:2px solid;
    height: 1000px;
	padding-top:40px;
    padding-left:30px;
    padding-right:30px;
    margin-bottom:50px;
}                            
#main h3{  /*表单标题*/
    color: bisque;
}
/*upper CSS*/
#upper, #middle, #lower{
    width:800px;
    height:300px;
    margin-bottom:10px;
}
#upper form{
    float:left;
    width:230px;
    padding:10px;
}
.input_margin input{
    margin-left:20px;
    margin-bottom:10px;
}
/*middle CSS*/
#middle{
    padding:40px;
    height:200px;
}
#middle form{
    padding:10px;
    color: tan;
    font-size: 20px;
}
/*lower CSS*/
#lower{
    padding:50px;
}
#lower input{
    width:100%;
    margin-bottom:50px;
}
#lower a{
    font-size:40px;
    text-decoration:none;
    padding:30px;
    color: black;
    border-color:white;
    border-radius:10px;
    border-style:solid;
    width:50px;
    background-color:orange;
}
/* ------------------progress style--------------------- */
#progre{
	margin:5px auto 10px 0px;
}
#form_login{
    margin: 20px;
    padding:20px;
    height:220px;
    width:250px;
    border-width:5px;
    border-style: solid;
    border-color: tan;
}
#left form div{
    margin-top:20px;
}
#login_button{
    float:right;
    margin-top:20px;
    padding:2px 5px 2px;
}
/* ------------------footer style--------------------- */
footer{
	height:50px;
	padding:10px;
	font-family:sans-serif;
	background-color:#4f4f4f;
	border-radius:12px;
	box-shadow:-10px 0 12px hsla(10, 100%, 50%, .9),
		20px 10px 5px brown;
}
footer address a{
	display:inline;
	color:white;
}
