#left{
	float:left;
}
#main{
	height:300px;
	padding-top:40px;
	background:url(Images/code.png);
}                            
/* ------------------bubble bubble-left --------------------- */
.bubble{
	width:150px; height:30px;
	color:hsl(120, 100%, 0%);
	background:hsl(30, 100%, 50%);
	padding:12px;
	position:relative;
	left:60px;
	top:30px;
	border-radius:8px;
}
.bubble:before{
	content:"";
	width:0; height:0;
	position: absolute;
	z-index:-1;
}
.bubble.bubble-left:before{
	/* 调整箭头位置 */
	right:90%; top:50%;
	/* define箭头倾斜角度 */
	transform:rotate(-25deg);
	/* define箭头长短 */
	border-top:solid 10px transparent;
	border-right:solid 80px hsla(30, 100%, 50%);
	border-bottom:solid 20px transparent;
}
/* ------------------progress style--------------------- */
#progre{
	margin:5px auto 10px 0px;
}
/* ------------------table style--------------------- */
table{
	padding:3px;
	border-radius:20px;
	border-collapse:collapse;	/*合并单元格边框*/
	box-shadow:4px -10px 12px red;
}
.bit_title{
	color:hsl(39,90%,50%);
}
th{
	color: hsl(30, 100%, 50%);
	font-size:15px;
	font-weight:normal;
	padding:5px;
}
td{
	width:100px;
	height:20px;
	padding:5px;
	border:solid 1px orange;
}
tr:nth-child(2), tr:nth-child(5){
	background: hsla(30, 50%, 50%, .3);
}
/* ------------------footer style--------------------- */
footer{
	height:50px;
	padding:10px;
	font-family:sans-serif;
	background-color:#4f4f4f;
	border-radius:12px;
	box-shadow:-10px 0 12px hsla(10, 100%, 50%, .9),
		20px 10px 5px red;
}
footer address a{
	display:inline;
	color:white;
}
