body{
	padding:0px;
	margin:0px;
	font:16px "宋体";
	background:#1C1C1C;
}
#header{
	width:100%;
	height:50px;
	color:snow;
}
#main{
	width:800px;           
	height:200px;
	margin:auto;
}                            
#main ul{
	margin:0px;
	width:130px;
	height:215px;
	border-right:1px solid white;
}
footer{
	width:800px;
	margin:auto;
	clear:both;
	height:80px;
	background:#4F4F4F;
}
ul{
	list-style:none;
 }
ul li a{
	text-decoration:none;
	line-height:30px;
	font-weight:bold;
	margin:20 10px;
	padding:10 1px;
	color:#FFEFDB;
}
#main ul li a:hover{
	color:snow;
}
ul li a:visited{
	color:orange;
}
