ul{
	list-style:none;
}
a{
	text-decoration:none;
	line-height:30px;
	font-weight:bold;
	margin:20 10px;
	padding:10 1px;
	color:#FFEFDB;		antiquewhite
}
a:hover{
	color:snow;
}
a:visited{
	color:orange;
}

